.new-content {
  --padding-start: 14px;
  --padding-end: 14px;
  --padding-top: 12px;
}

.loading {
  display: grid;
  place-items: center;
  margin: 12px 0;
}

ion-thumbnail {
  --border-radius: 8px;
  --size: 56px;
}

ion-thumbnail img {
  object-fit: cover;
}
