<ion-content class="new-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nova intervenção por viatura</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Matrícula / Modelo</ion-label>
        <ion-input [(ngModel)]="search" (keyup.enter)="loadVehicles()"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="loadVehicles()" [disabled]="loading">Pesquisar</ion-button>
      <ion-item>
        <ion-label position="stacked">Tipo de trabalho</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="workType">
          <ion-select-option value="workshop">Oficina</ion-select-option>
          <ion-select-option value="painting">Pintura</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <div *ngIf="loading" class="loading"><ion-spinner></ion-spinner></div>

  <ion-list>
    <ion-item *ngFor="let vehicle of vehicles">
      <ion-thumbnail slot="start" *ngIf="coverPhotoSrc(vehicle)">
        <img [src]="coverPhotoSrc(vehicle)" [alt]="vehicle.license || vehicle.foreign_license || 'Viatura'">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ vehicle.license || vehicle.foreign_license }}</h3>
        <p>{{ vehicle.brand }} {{ vehicle.model }}</p>
      </ion-label>
      <ion-button slot="end" (click)="create(vehicle.id)" [disabled]="loading">Criar intervenção</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
